#fond {

}

#feuilles1 {

}

#feuilles2 {
opacity: 0.8;
}

#feuilles3 {

}

#gouttes1 {
opacity: 0;
}

#gouttes2 {
opacity: 0;
}

#brume {
opacity: 0.1;
margin-left: -400px;
margin-top: -400px;
}

#brume2 {
opacity: 0.5;
margin-left: -400px;
margin-top: -400px;
}
