#fond {
padding-top: 1px;
}

#feuilles1 {

}

#feuilles2 {
opacity: 0.8;
}

#feuilles3 {

}

#gouttes1 {
opacity: 0;
}

#gouttes2 {
opacity: 0;
}

#brume {
opacity: 0.02;
margin-left: 0px;
margin-top: 0px;
}

#brume2 {
opacity: 0.1;
margin-left: 0px;
margin-top: 0px;
}

.global {
  margin-top: 100px;
}

body {
  background-color: rgb(255, 250, 250);
  /*background-image: url(../../images/bg3.png);*/
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*NAVBAR*/

#searchInput {
  width: 200px;
}

.navbar-brand {
 padding: 13px 15px;
}

.navbar {
  background-color: rgb(181, 181, 181);
}



/********************************/


body {
  font-family: monospace;
  font-size: 14px;
  background: radial-gradient(circle, white, black);
  height: 750px;
  width: 100%;
  color: #000000;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}




#C button {
  box-shadow: 5px 5px 10px black;
  border: 10px solid #49527a;
  border-radius: 30px;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #9b9cb8;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

#F button {
  box-shadow: 25px 25px 40px black;
  border: 10px solid #49527a;
  border-radius: 30px;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #9b9cb8;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

#L button {
  box-shadow: 15px 15px 15px black;
  border: 10px solid #49527a;
  border-radius: 30px;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #9b9cb8;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #394a53;
}


.container1 {
  position: relative;
  max-width: 50px;
  margin: 0 auto;
  padding: 20%;

}

.container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0%;

}

.container2 {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0%;

}

.container3 {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0%;

}





.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

#C {
margin-top: -100px;
}

#F {
margin-top: 50px;
}

#L {
margin-top: 200px;
}

#mars {
	margin-left: -100px;
	height: 800px;
	width: auto;
  margin-top: -80px;
}
